<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="portfolio.notification_lab.mapper.NotificationRequestStateMapper">

    <!-- PENDING -> RESERVED -->
    <update id="markPendingAsReserved">
        UPDATE notification_request
        SET status = 'RESERVED',
            reserved_at = NOW(),
            updated_at = NOW()
        WHERE id = #{requestId}
            AND status = 'PENDING'
    </update>

    <!-- RESERVED -> SENT -->
    <update id="markReservedAsSent">
        UPDATE notification_request
        SET status = 'SENT',
            sent_at = NOW(),
            updated_at = NOW()
        WHERE id = #{requestId}
            AND status = 'RESERVED'
    </update>

    <!-- RESERVED -> FAILED -->
    <!-- next_retry_at으로 바로 재시도 X -->
    <update id="markReservedAsFailed">
        UPDATE notification_request
        SET status = 'FAILED',
            retry_count = retry_count + 1,
            failed_at = NOW(),
            fail_reason = #{failReason},
            next_retry_at = NOW() + (#{nextRetrySeconds} * INTERVAL '1 second'),
            updated_at = NOW()
        WHERE id = #{requestId}
            AND status = 'RESERVED'
            AND retry_count &lt; #{maxRetryCount}
    </update>

    <!-- FAILED -> PENDING -->
    <!-- 재시도 시간이 지났고 최대 재시도 횟수 미만 실패 요청을 다시 대기 상태로 -->
    <update id="markFailedAsPending">
        UPDATE notification_request
        SET status = 'PENDING',
            updated_at = NOW()
        WHERE id = #{requestId}
            AND status = 'FAILED'
            AND next_retry_at &lt;= NOW()
            AND retry_count &lt; 3
    </update>

    <!-- FAILED -> DEAD -->
    <!-- 최대 재시도 횟수에 도달시 실패 요청을 최종 실패 처리 -->
    <update id="markFailedAsDead">
        UPDATE notification_request
        SET status = 'DEAD',
            dead_at = NOW(),
            fail_reason = #{failReason},
            updated_at = NOW()
        WHERE id = #{requestId}
            AND status = 'FAILED'
            AND retry_count &gt;= 3
    </update>

    <!-- RESERVED -> DEAD -->
    <!-- 재시도 불가능한 실패를 즉시 최종 실패처리   -->
    <update id="markReservedAsDead">
        UPDATE notification_request
        SET status = 'DEAD',
            dead_at = NOW(),
            fail_reason = #{failReason},
            updated_at = NOW()
        WHERE id = #{requestId}
            AND status = 'RESERVED'
    </update>

    <!-- RESERVED -> PENDING -->
    <!-- worker가 죽어서 reserved에 갇힌 메시지 복구(timeoutMinutes으로 판단)   -->
    <update id="releaseExpiredReservations">
        UPDATE notification_request
        SET status = 'PENDING',
            reserved_at = NULL,
            updated_at = NOW()
        WHERE status = 'RESERVED'
            AND reserved_at &lt; NOW() - (#{timeoutMinutes} * INTERVAL '1 minute')
    </update>

</mapper>